# Ignore Python virtual environments and Gradio-related files
.venv/
.gradio/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore specific operating system files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp
